stages: [mirror]

mirror_from_github:
  stage: mirror
  image: alpine:3.19
  variables:
    GIT_STRATEGY: none
  script:
    - apk add --no-cache git ca-certificates
    - cp "$GITLAB_CA_PEM" /usr/local/share/ca-certificates/gitlab.crt
    - update-ca-certificates
    - git clone --mirror "https://x-access-token:${GITHUB_TOKEN}@github.com/rfernandezfranco/django-static-compress.git" repo.git
    - cd repo.git
    - git remote set-url --push origin "https://oauth2:${GITLAB_PUSH_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    - git push --mirror
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
